[submodule "IEEErobot2018"]
	path = IEEErobot2018
	url = https://github.com/Sooner-Competitive-Robotics/IEEErobot2018.git
[submodule "Round1/IEEErobot2018"]
	path = Round1/IEEErobot2018
	url = https://github.com/Sooner-Competitive-Robotics/IEEErobot2018.git
[submodule "Round2/IEEErobot2018"]
	path = Round2/IEEErobot2018
	url = https://github.com/Sooner-Competitive-Robotics/IEEErobot2018.git
[submodule "Tiebreak/IEEErobot2018"]
	path = Tiebreak/IEEErobot2018
	url = https://github.com/Sooner-Competitive-Robotics/IEEErobot2018.git
[submodule "Round3/IEEErobot2018"]
	path = Round3/IEEErobot2018
	url = https://github.com/Sooner-Competitive-Robotics/IEEErobot2018.git
